.container {
    margin: 70px auto;
width: 400px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;padding: 20px;
border-radius: 5px;
}
.container input {
padding: 5px 10px;
}