.mainColorBtn{
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    padding:8px 15px;
    border-radius: 4px;

}
.reverseBtn{
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding:8px 15px;
    border-radius: 4px;

}