.card{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.line {
margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: var(--main-color);
}